{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="logn-form-container">
    <form method="post">
        {% csrf_token %}
        {{ form }}
    </form>

</div>
{% endblock %}